body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    background-color: #1F2937;
    align-items: center;
    font-size: 18px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header div,
.header ul {
    margin: 20px 390px;
}

.header ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    column-gap: 20px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 0;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.hero .item {
    width: 500px;
}

.left-side {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-side p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.right-side {
    padding: 125px 25px;
    text-align: center;
    align-self: center;
    background-color: #758388;
    font-size: 18px;
    color: #E5E7EB;
}

.button-container button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.random-info {
    font-size: 36px;
    font-weight: bolder;
    padding: 50px 0;
    color: #1F2937;
    text-align: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.info-boxes .box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    text-align: center;
}

.info-boxes p {
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.big-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-container {
    align-self: center;
    width: 1000px;
    padding: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}


#attribution {
    text-align: end;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

.action-call {
    margin: 100px 0;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 30px;
    border: 1px solid #3882F6;
    border-radius: 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
}

.action-call p {
    font-size: 18px;
}

#sign-up-bottom {
    align-self: center;
    margin-left: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}