body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    background-color: #1F2937;
    align-items: center;
    font-size: 18px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header div,
.header ul {
    margin: 20px 390px;
}

.header ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    column-gap: 20px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 0;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.hero .item {
    width: 500px;
}

.left-side {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-side p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.right-side {
    padding: 125px 25px;
    text-align: center;
    align-self: center;
    background-color: #758388;
    font-size: 18px;
    color: #E5E7EB;
}

.button-container button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.random-info {
    font-size: 36px;
    font-weight: bolder;
    padding: 50px 0;
    color: #1F2937;
    text-align: center;
}